langchain==0.3.7
langchain-community==0.3.7
langchain-groq==0.2.1
langchain-huggingface==0.1.2
chromadb==0.4.24
sentence-transformers==2.2.2
pymupdf==1.24.13
streamlit==1.40.2
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic-core==2.41.5
typing-extensions>=4.15.0
